@import url('https://fonts.googleapis.com/css?family=MB+Empire');

body {
	font-family: "MB Empire",Helvetica,Arial,sans-serif;
}

.centered-page {
	width: 85vw;
	height: 85vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	box-shadow: -2px -2px 55px 41px rgba(173,173,173,0.74);
	-webkit-box-shadow: -2px -2px 55px 41px rgba(173,173,173,0.74);
	-moz-box-shadow: -2px -2px 55px 41px rgba(173,173,173,0.74);

  }
  
  .subtitle {
	margin-right: '10px';
	font-size: '14px';
	font-style: 'italic'; 
	color: #db3a00;
}