.chat-input {
	position: fixed;
	bottom: 0;
	background-color: grey;
	padding: 10px;
	height: 10vh;
}

.chat-feed {
	height: 80vh;
	overflow: scroll;
}

.chat-bubble {
	font-size: 16;
	font-weight: bold;
	margin: 8px;
	white-space: pre-wrap;
}

.rce-mbox {
	background-color: #d8e1e2;
}

.rce-mbox-right {
	background-color: #f2f2f2;
}

area :hover {
	cursor: grab;
}
/*  */
.outsideWrapper{ 
	/* width:400px; height:600px;  */
	margin:20px 60px; 
	border:1px solid blue;}
.insideWrapper{ 
	width:100%; height:100%; 
	position:relative;}
.coveredImage{ 
	width:100%; height:100%; 
	position:absolute; top:0px; left:0px;
}
.coveringCanvas{ 
	width:100%; height:100%; 
	position:absolute; top:0px; left:0px;
	background-color: rgba(255,0,0,.1);
}
/*  */